# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/
myvenv/

# Ignore Django static and media files
static/
media/

# Ignore local environment files
.env
*.env

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore IDE and editor files
*.idea/
*.vscode/
*.swp
# Ignore pip-related files
pip-log.txt
# Ignore Node.js-related files
node_modules/
npm-debug.log