# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore Django static and media files
static/
media/

# Ignore local environment files
.env
*.env

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore IDE and editor files
*.idea/
*.vscode/
*.swp